.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  position: absolute;
  left: 75px;
  top: 25px;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  z-index: 5;
  font-size: 18px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(223, 223, 223);
}

#type {
  position: absolute;
  left: 375px;
  top: 41px;
  z-index: 10;
}

#valid {
  position: absolute;
  left: 450px;
  top: 48px;
  z-index: 10;
}

#title {
  position: absolute;
  left: 75px;
  text-align: left;
}

#error {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 113px;
  color: rgb(253, 92, 92);
  border-color:rgb(253, 92, 92);
  position: absolute;
  left: 75px;
  top: 95px;
}

#required {
  position: absolute;
  left: 222px;
  color: orange;
  font-size: 20px;
  top: 5px;
}

