.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

img {
  position: relative;
  left: 590px;
  top: 11px;
}

#title {
  position: relative;
  left: 75px;
  text-align: left;
}

